
#state-data {
	width: 100%;
	height: 100%;
	background-color: white;
	border: 1px solid black;
	top: 0;
	margin: auto;
	position: absolute;
	display: none;
}


.line {
	fill: none;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
}

.totals {
	text-align: start;
	margin-left: 2%;
}

.map-legend {
	position: absolute;
	padding-left: 2%;
	
}

.page-title {
	text-align: center;
	margin-left: 0%;
	margin-right: 0%;
	background-color: darkred;
	color: whitesmoke;
}

.axis {
	fill: black;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
  }
  
.axis .halo {
	stroke: black;
	stroke-width: 1px;
	stroke-linecap: round;
  }

.slider .handle path {
	stroke: darkred;
	stroke-width: 4px;
	stroke-linecap: round;
	pointer-events: none;
  }
  
.slider .handle text {
	fill: black;
	text-align: center;
	font-size: 16px;
  }

#date-slider {
	  padding-left: 15%;
	  padding-right: 10%;
  }

#date {
	  display: none;
  }

#visual {
	padding-left: 0px;
}

#barGraph {
	overflow: auto;
	align-items: center;
	padding: 4%;
	/*position: relative; */
	width: auto;
	height: auto;
}